
.buttonInc{
  margin: 10px;
  background-color: darkgray;
  border: 3px solid yellow;
  border-radius: 5px;
  width: 55px;
  height: 26px;
  color: yellow;
  text-align: center;
}
input{
  width: 50px;
}
.inputContainer{
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.buttonIncdisabled{
  background-color: rgba(117, 190, 218, 0.5);
  color: rgba(0,0,255, 0.1);
  border: 3px solid rgba(255,0,0, 0.5);
}

.error{
  background-color: red;
}

.titleName{
  color: black;
  font-size: medium;
  font-weight: bold;
}